<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rosspaffett.alfred.imgur</string>
	<key>connections</key>
	<dict>
		<key>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99FC310-35BB-49DA-B2CC-CC87C1277D0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ross Paffett</string>
	<key>description</key>
	<string>Upload selected files to Imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload to Imgur</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E99FC310-35BB-49DA-B2CC-CC87C1277D0E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B9F808F8-7137-477C-B386-55180E413664</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>$:.unshift Dir.pwd + '/lib'
require 'imgur'

client = Imgur::Client.new

urls = "{query}".split("\t").map do |file_path|
  client.upload(file_path)
end.compact

if urls.empty?
  Imgur::Client.notify "Could not upload the image#{urls.size == 1 ? '' : 's'} " +
    'you selected.', subtitle: 'An error occurred'
else
  message = if urls.size == 1
    'Copied one link to the clipboard.'
  else
    "Copied #{urls.size} links to the clipboard."
  end

  Imgur::Client.notify message, subtitle: "Image#{urls.size == 1 ? '' : 's'} uploaded"

  print urls.join("\n")
end</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E99FC310-35BB-49DA-B2CC-CC87C1277D0E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/raws/alfred-imgur</string>
</dict>
</plist>
