<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rosspaffett.alfred.imgur</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</key>
		<array/>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ross Paffett</string>
	<key>description</key>
	<string>Upload selected files to Imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload to Imgur</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B9F808F8-7137-477C-B386-55180E413664</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>$:.unshift Dir.pwd + '/lib'
require 'imgur'

paths = "{query}".split("\t")
batch = Imgur::Batch.new(paths)

batch.upload
batch.notify
batch.copy</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Upload to Imgur 1.0.0
by Ross Paffett

This Alfred workflow uploads the images you currently have selected in the Finder to your Imgur account.

### Usage

Select one or more image files in the Finder and press the global keyboard shortcut specified in the Alfred workflow.

The first time you use the workflow, you'll be prompted to authorize your Imgur account by entering a PIN into a Finder dialog.

Your browser will open automatically and walk you through Imgur's authorization flow. If you accept, Imgur will provide you with a PIN that you should enter into the dialog.

After the image is successfully uploaded, you will receive a notification that its Imgur link has been copied to your clipboard.

### Troubleshooting

The workflow records all uploads and errors to:

    ~/Library/Logs/com.rosspaffett.alfred.imgur.log

You can view the log using Console.

### License

(The MIT license)

Copyright © 2014 Ross Paffett

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</string>
	<key>uidata</key>
	<dict>
		<key>521C5FD2-B4F0-46E3-8FCA-9FB6F1D91DAF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/raws/alfred-imgur</string>
</dict>
</plist>
